//
// Typography
// --------------------------------------------------

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
p {}

//
// Links & Buttons
// --------------------------------------------------

a, 
a:visited, 
a:active {}

a:hover, 
a:focus {}

//
// Forms & Input
// --------------------------------------------------

form {}
input:not([type=submit]):not([type=file]) {}